@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Poppins";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #112D4E;;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #fff;
  background: #112D4E;
  border-radius: 17px;
}
.content {
  max-width: 990px;
  margin: 40px auto;
  padding: 30px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px #3F72AF;
}
.blog-preview h2 {
  font-size: 20px;
  color: #112D4E;;
  margin-bottom: 8px;
}

.home title{
  color: #112D4E;
}